*{box-sizing: border-box;}
body{
	background-color: black;
}

/** Header**/
#header-nav{background-color: gray;
border: 1px black;
padding-bottom: 10px;}
.navbar-brand h1 {color: black; font-weight: bold; 
cursor: none; 
margin: 0px;
padding: 0px;}
 
 .navbar-brand a:hover {
 	text-decoration: none;
    background-color:gray;}



#nav-list a {
	text-align: center;}
	#nav-list a {
	color: black;
	font-size: 2em; }
	#nav-list a{
	border: 1px;}
	#nav-list {background-color:hsl(0,0%,20%);}
	#nav-list{margin: -15px;
		margin-top: 0px;
		margin-bottom: 0px;}
		#nav-list a:hover{
			background-color: gray;
		}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/**End of Header**/

/** Main Content**/

h2 {text-align: center;
color: white;
padding-bottom: 20px}

h3{text-align: center;}

#Chicken{
	background-color: gray;
	border: 1px;
	padding: 10px;
	margin: 10px;
}
#Beef {
	background-color: gray;
	border: 1px;
	padding: 10px;
	margin: 10px;
}
#Sushi{
	background-color: gray;
	border: 1px;
	padding: 10px;
	margin: 10px;
}
p a{
	color: black;
}

/**End of Main Content**/

